efinstall.config.version = 1.0
ef.accept.eula = true
kernel.agent.on.same.machine = true
kernel.agent.rmi.port = 9999
kernel.agent.rmi.bind.port = 9998
kernel.ef.admin.user = ec2-user
kernel.server.tomcat.https = true
kernel.ef.tomcat.user = efnobody
kernel.ef.root.context = enginframe
kernel.tomcat.https.port = 8443
kernel.tomcat.shutdown.port = 8005
kernel.start_enginframe_at_boot = true
demo.install = true
default.auth.mgr = pam
pam.service = system-auth
ef.jobmanager = slurm
slurm.binaries.path = /opt/slurm/bin
ef.delegate.dcvsm = true
dcvsm.oauth2.url = https\://sm-hostname\:sm-port/oauth2/token
dcvsm.oauth2.id = 
dcvsm.broker.url = https\://sm-hostname\:sm-port
dcvsm.no.strict.tls = false
intro-targets = component_enginframe,component_kernel,component_applets,component_parser,component_http,component_pam,component_ldap,component_activedirectory,component_rss,component_lsf,component_pbs,component_torque,component_sge,component_slurm,component_awsbatch,component_dcvsm,component_demo,component_neutro,component_vdi,component_applications,component_service-manager,component_user-group-manager,component_hpc,component_enginframe_finalizer,
progress-targets = cleanuptarget,
kernel.ef.db = other-db
kernel.ef.derby.db.port = 3306
kernel.ef.db.admin.name = admin
kernel.ef.db.savePasswordInKeystore = true
kernel.ef.db.url = jdbc\:mysql\://admin@${SLURM_DB_ENDPOINT}\:3306/EnginFrameDB
